# 2024_after school_0408

In [39]:
a = 5
b = 3
c = a+b
d = a//b
e = a/b
type(e)
type(d)

int

In [41]:
# adress 바로 옆에 붙어있기 때문에 열
a = int(input("이름을 입력하세요."))
print(f'{a}님 환영합니다!')
type(a)

이름을 입력하세요.4
4님 환영합니다!

int

In [4]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [49]:
n = 0
n2 = 0
for i in range(1,11):
    if i%2 == 1:
        n += i
    else:
        n2 += i
print(f'홀수의 합은 {n} 짝수의 합은 {n2} 입니다.')

홀수의 합은 25 짝수의 합은 30 입니다.

In [52]:
n3 = 0
n4 = 0
n5 = 0
for i in range(1,11):
    if i%3 == 0:
        n3 += i
    elif i%3 == 1:
        n4 += i
    else:
        n5 += i
print(f'sum of 0 is {n3}')
print(f'sum of 1 is {n4}')
print(f'sum of 2 is {n5}')

sum of 0 is 18
sum of 1 is 22
sum of 2 is 15

In [62]:
my_list = [1,2,3,4,5]
reversed_list = my_list[::-1]
reversed_list

[5, 4, 3, 2, 1]

In [63]:
for i in my_list:
    print(i,end = " ")

1 2 3 4 5

In [68]:
my_list2 = [3.1,1.0,5,"홍"]
my_tupple = (3.1,1.0,5,"홍")
print(type(my_list2),type(my_tupple))

<class 'list'> <class 'tuple'>

In [17]:
a = "Hello World"
a[::-1]

'dlroW olleH'

In [19]:
a,b = input().split()
a = int(a)
b = int(b)
print(a*b)

3 5
15

In [20]:
a = [1,2,3,4,5]
a[2]

3

In [27]:
a = [1,2,3,4,5]
a[0]+a[1]+a[2]+a[3]+a[4]

15

In [22]:
print("python"*3)

pythonpythonpython

In [31]:
a = 3.0
type(a)

float

In [71]:
a = 'hello world'
a1 = "helloi world"
a2 = """helloi world"""
print(a)
print(a1)
print(a2)

hello world
helloi world
helloi world

In [72]:
type(a1)

str